body {
  min-height: 100vh;
}

#calendar, #calendar-next {
  width: 310px;
  height: 310px;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.calendar__month {
  width: 100%;
  height: 100%;
  text-align: center;
  box-sizing: border-box;
  margin: 10px 0;
  background-color: rgba(0, 0, 0, 0.055);
}

.calendar__monthHead {
  display: inline-block;
  box-sizing: border-box;
  height: 60px;
  line-height: 60px;
  width: 100%;
  font-size: 1em;
  margin: 0 0;

}

.calendar__row {
  display: flex;
  box-sizing: border-box;
  flex-flow: row;
  justify-content: start;
  align-items: center;
  height: 30px;
  margin: 0 0;
}

.calendar__item {
  display: inline-block;
  box-sizing: border-box;
  width: calc(100% / 7);
  height: 30px;
line-height: 30px;  margin: 0 0;
  font-size: .7em;
  text-align: center;
}

.calendar__selectDay {
  color: red!important;
}

.calendar__activeDay {
  color: rgb(6, 139, 139);
}

.selectingDay {
  color: blue;
}